<a href="https://colab.research.google.com/github/jyothishx/Introduction-to-Python/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
name = input('Enter your name ')
number = input('Enter you phone number ')
print('Name -', name,'Phone number -', number)

Enter your name jyothish
Enter you phone number 45633463
Name - jyothish Phone number - 45633463

In [9]:
name = input('Enter your name - ')
eng = int(input('Enter your english marks - '))
buss = int(input('Enter your business marks - '))
eco = int(input('Enter your economics marks - '))
add = eng + buss + eco
print('Total marks - ',add)

Enter your name - jyothish
Enter your english marks - 50
Enter your business marks - 50
Enter your economics marks - 50
Total marks -  150

In [10]:
name = input('Enter your name - ')
eng = int(input('Enter your english marks - '))
buss = int(input('Enter your business marks - '))
eco = int(input('Enter your economics marks - '))
add = eng + buss + eco
avg = add/3
print('Average marks - ', avg)

Enter your name - jyothish
Enter your english marks - 40
Enter your business marks - 40
Enter your economics marks - 40
Average marks -  40.0

In [17]:
n1 = int(input('Enter a number - '))
n2 = int(input('Enter a another number - '))
n3 = int(input('Enter a another number - '))
if n1 > n2 and n1 > n3:
  print(n1, 'is the largest number')
if n2 > n1 and n2 > n3:
  print(n2, 'is the largest number')
else:
  print(n3, 'is the largest number')

Enter a number - 45
Enter a another number - 90
Enter a another number - 37
90 is the largest number

In [22]:
n1 = int(input('Enter a number - '))
if n1%2 == 0:
  print(n1,'is an even number')
else:
  print(n1,'is an odd number')

Enter a number - 5
5 is an odd number

In [29]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [32]:
n1 = int(input('Enter a number - '))
n2 = int(input('Enter a number - '))
for i in range(n1, n2):
  if i%2 == 0:
    print(i)

Enter a number - 1
Enter a number - 11
2
4
6
8
10

In [34]:
for i in range(1,11):
  print(i*5)

5
10
15
20
25
30
35
40
45
50