<a href="https://colab.research.google.com/github/jyothishx/Introduction-to-Python/blob/main/def_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def jyothish():
  print('hello world')

In [2]:
jyothish()

hello world

In [16]:
def sal(x):
  if x>250000:
    print('you are taxable')
  if x<250000:
    print('You are not taxable')

In [19]:
salary = int(input('Enter your salary '))
sal(salary)

Enter your salary 500000
you are taxable

In [27]:
def adding(x):
  k = 0
  for i in range(x):
    k = k+x
  return k

In [28]:
value = int(input('enter the value '))
adding(value)

enter the value 50

2500