<a href="https://colab.research.google.com/github/jyothishx/Introduction-to-Python/blob/main/exersises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num = int(input("Enter any number: "))
for i in range(1,11):
  print(num,'x', i,'=',num*i)

Enter any number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
num = input('Enter any number: ')
k = 0
for i in num:
  k = k+1
print(k)

Enter any number: 55555
5

In [16]:
num = int(input('Enter any number: '))
k = 1
while k<=10:
  print(num*k)
  k = k+1

Enter any number: 5
5
10
15
20
25
30
35
40
45
50

In [17]:
string = input('Enter any word: ')
rev = string[::-1]
if string == rev:
  print(string, 'is a palindrom')
else:
  print(string, 'is not a palindorm')

Enter any word: amma
amma is a palindrom

In [33]:
english = float(input('Enter english marks: '))
ip = float(input('Enter ip marks: '))
language = float(input('Enter language marks: '))
economics = float(input('Enter economics marks: '))
business = float(input('Enter business marks: '))

print(' ')

marks = [english, ip , language, economics, business]
minimum = min(marks)
maximum = max(marks)
average = sum(marks)/5 
rounded = round(average,3)

print('minimum mark = ', minimum)
print('maximum mark = ', maximum)
print('average mark = ', average)
print('rounded average = ', rounded)

Enter english marks: 56.4
Enter ip marks: 48.3
Enter language marks: 63.8
Enter economics marks: 96
Enter business marks: 33

minimum mark =  33.0
maximum mark =  96.0
average mark =  59.5
rounded average =  59.5