<a href="https://colab.research.google.com/github/jyothishx/Introduction-to-Python/blob/main/PYTHON_TEST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
for i in range(1,16):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [8]:
num=int(input("enter a number:"))
sum=1
i=1
while (i<=num):
 sum=sum*i
 i=i+1
print("the factorial is:",sum)

enter a number:7
the factorial is: 5040

In [12]:
a = 'jyothish'
slice(a[3:6])

slice(None, 'thi', None)