<a href="https://colab.research.google.com/github/jyothishx/Introduction-to-Python/blob/main/Tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mark = int(input())
if mark > 50:
  print(mark,'is greater than 50')
else:
  print(mark,'is less than 50')

66
66 is greater than 50

In [2]:
mark = int(input())
if mark > 50:
  print(mark,'is greater than 50')
if mark == 50:
  print(mark,'is equal to 50')
else:
  print(mark,'is less than 50')

66
66 is greater than 50
66 is less than 50

In [3]:
salary = int(input())
if salary >= 250000:
  print('you are taxable')
  print(salary*(10/100))
else:
  print('you are not taxable')

36
you are not taxable

In [4]:
salary = int(input())
if salary >= 250000:
  print('you are taxable')
  print((salary-250000)*(10/100))
else:
  print('you are not taxable')

252000
you are taxable
200.0

In [5]:
salary = int(input())
if salary > 250000 and salary < 500000:
  print('you are taxable')
  print(salary*(10/100))
if salary > 500000:
  print('you are taxable')
  print(salary*(20/100))
if salary < 250000:
  print('you are not taxable')

636663
you are taxable
127332.6

In [6]:
salary = int(input())
if salary > 250000 and salary < 500000:
  print('you are taxable')
  print((salary-250000)*(10/100))
if salary > 500000:
  print('you are taxable')
  print((salary-250000)*(20/100))
if salary < 250000:
  print('you are not taxable')

655455
you are taxable
81091.0